.gem__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.gem__brand div {
    flex: 1;
    max-width: 150px;
    min-width: 120px; 
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gem__brand img {
    width: 200px;
    height: 200px;
}